extends layout

block content
  h1= title
  p Welcome to #{title}
  p I'm Harika Madamanchi. I have just completed by bachleors on Computer sceince of Engineering and Technology and pursuing my masters on Applied computer Sceince in Northwest Missour State University. 
